---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Zachary Shimpa" description="About Zachary Shimpa">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-work.jpg"
          alt="Zachary Shimpa, temp photo"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I am a student at Colorado State University studying Computer
            Science with a concentration in Human-Centered Computing. I am also
            pursuing a certificate in Design Thinking. I am passionate about
            creating software that is intuitive and easy to use. I am also
            passionate about creating software that is accessible to all users.
            I am interested in the intersection of technology and design and how
            technology can be used to improve the lives of others.
          </p>
          <p>
            Just because I am a computer science student does not mean that I
            don't also love engineering. I have lots of engineering passion
            projects and I love wo work with my hands. One of my main projects
            has been my 3d printer, converting it to a new system for supplying
            g-code.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            Bachelor of Computer Science | Concentration: Human-Centered
            Computing
          </p>
          <p>
            Certificate: Design Thinking | Anticipated Graduation: December 2023
          </p>
          <p>Colorado State University, Fort Collins, CO</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>
            C#, Python, CSS, HTML5, Linux, C++, LaTeX, Java, NumPy, C, Java
            Script, PyTorch, MySQL, Node.js, Unity, Unreal Engine, MatLab,
            Photography, Videography, Video Editing, Photo Editing, 365 Suite
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
