---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Zachary Shimpa" description="About Zachary Shimpa">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by, read below to learn more about myself and my background!"
      >
        <img
          width="3000"
          height="4000"
          src="/assets/at-work.jpg"
          alt="Zachary Shimpa, temp photo"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I graduated from Colorado State University with a degree in Computer Science, 
            specializing in Human-Centered Computing, and holding a certificate in Design Thinking. 
            Throughout my academic journey, I cultivated a passion for crafting software that is both 
            intuitive and accessible to all users. I am deeply interested in the intersection of technology 
            and design, and I am committed to leveraging innovative solutions to enhance the lives of others. 
            As a graduate, I am eager to apply my skills and knowledge to make a positive 
            impact in the field of software development.
          </p>
          <br>
          <p>
            Just because I'm a computer science student doesn't mean I lack a passion for engineering. 
            I'm deeply involved in various engineering projects and enjoy the tactile experience of 
            working with my hands. One of my primary undertakings involves modifying my 3D printer, 
            where I've implemented Klipper, a new G-code system.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>Bachelor of Computer Science | Concentration: Human-Centered Computing</p>
          <p>Certificate: Design Thinking | Graduated: December 2023</p>
          <p>Colorado State University, Fort Collins, CO</p>
        </div>
      </section>
      <section>
        <section>
          <h2 class="section-title">Employer</h2>
          <div class="content">
            <p>I currently work as an Apps Analyst I at Mesa Natural Gas Solutions in Loveland CO.</p>
          </div>
        </section>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>
            C#, Python, CSS, HTML5, Linux, C++, LaTeX, Java, NumPy, C, Java
            Script, PyTorch, MySQL, Node.js, Unity, Unreal Engine, MatLab,
            Photography, Videography, Video Editing, Photo Editing, Microsoft 365 Suite,
            Soldering, Designing, Arduino, Raspberry Pi, 3D Printing, Klipper, Circuits
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
