---
import type { iconPaths } from './IconPaths';
import type { HTMLAttributes } from 'astro/types';
import { Astro } from 'astro/components';

export let linkLabel: string;
export let linkHref: string;

/** Main menu items */
// const textLinks: { label: string; href: string }[] = [
//     { label: linkLabel, href: linkHref },
// ];
// // 	{ label: 'GitHub Link', href:  },
// // ];
---

<a href={Astro.props.github_repo}>Check out my GitHub repository here</a>


<div class="linkpill"><slot /></div>

linkLabel: string;

<style>
    .linkpill {
        display: flex;
        padding: 0.5rem 1rem;
        gap: 0.5rem;
        color: var(--accent-text-over);
        border: 1px solid var(--accent-regular);
        background-color: var(--accent-regular);
        border-radius: 999rem;
        font-size: var(--text-md);
        line-height: 1.35;
        white-space: nowrap;
    }
</style>
