---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
        <Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
        <a href="https://www.devry.edu/blog/what-does-a-software-developer-do.html" target="_blank" rel="noopener noreferrer"><h2>Software Engineer</h2></a>
        <p>I have worked with every part of the software development chain throughout my education and career.</p>
    </div>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<a href="https://www.merriam-webster.com/dictionary/problem-solving" target="_blank" rel="noopener noreferrer"><h2>Problem Solver</h2></a>
		<p>I love to solve problems provided that I have some wiggle room with how I come at the problem. </p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<a href="https://en.wiktionary.org/wiki/experimentalist" target="_blank" rel="noopener noreferrer"><h2>Experimentalist</h2></a>
		<p>I like having a plan going into unknown scenarios. I look at what has worked in the past and put my own perspective into it.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
