---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
        <Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
        <a href="https://www.coursera.org/articles/software-engineer" target="_blank" rel="noopener noreferrer"><h2>Software Engineer</h2></a>
        <p>I possess comprehensive expertise across the entire software development lifecycle, 
			garnered through both my academic journey and professional experience. 
			From conceptualization and design to implementation, testing, and deployment, 
			I have hands-on experience with every facet of the software development process.
		</p>
    </div>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<a href="https://www.merriam-webster.com/dictionary/problem-solving" target="_blank" rel="noopener noreferrer"><h2>Problem Solver</h2></a>
		<p>I thrive on tackling complex problems, relishing the opportunity to navigate 
			through various solutions with the freedom to explore innovative approaches. 
			For me, problem-solving isn't just a task—it's a thrilling journey of discovery 
			where creativity and ingenuity reign supreme!
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<a href="https://en.wiktionary.org/wiki/experimentalist" target="_blank" rel="noopener noreferrer"><h2>Experimentalist</h2></a>
		<p>As an experimentalist, I thrive in uncharted territories by combining strategic 
			planning with innovative thinking. Drawing from past successes, I craft a 
			framework to guide me through unknown scenarios while infusing my unique 
			perspective to explore new possibilities.
		</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
